{% extends 'basic.html' %}
{% load static %}

{% block title %}Post Your Car - Car Rental {% endblock %}
{% block body %}


     <!-- Page Header Start -->
    <div class="container-fluid page-header" style="margin-top:5px;">
        <h1 class="display-3 text-uppercase text-white mb-3">Post Vehicle</h1>
<!--        <div class="d-inline-flex text-white">-->
<!--            <h6 class="text-uppercase m-0"><a class="text-white" href="/">Home</a></h6>-->
<!--            <h6 class="text-body m-0 px-3">/</h6>-->
<!--            <h6 class="text-uppercase text-body m-0">Post Vehicle</h6>-->
<!--        </div>-->
    </div>
    <!-- Page Header Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" style="margin-top:-50px;">
        <div class="container pt-5 pb-3">
<!--            <h1 class="display-4 text-uppercase text-center mb-5">Post Your Vehicle</h1>-->
            <div class="row">
                <div class="col-lg-2 mb-2">

                </div>
                <div class="col-lg-8 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form action="/addacar" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" name="cname" class="form-control p-4" placeholder="Company Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="text" name="model"  class="form-control p-4" placeholder="Model Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="number" name="modelyear"  class="form-control p-4" placeholder="Model Year" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="number" name="rent"  class="form-control p-4" placeholder="Rent per Day" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <label for="area">Address:</label>
                                    <input type="text" name="address" class="form-control p-4" placeholder="Detailed pickup Address" required="required">
                                </div>

<!--                                <div class="col-6 form-group">-->
<!--                                    <label for="area">Select Area:</label>-->
<!--                                    <select id="area" name="area" style="height:50px" class="form-control p-2">-->
<!--                                      {% for a in areadetail %}-->
<!--                                      <option value="{{a.id}}">{{a.name}}</option>-->
<!--                                      {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-6 form-group">-->
<!--                                    <label for="city">Select City:</label>-->
<!--                                    <select id="city" name="city" style="height:50px" class="form-control p-2">-->
<!--                                      {% for city in citydetail %}-->
<!--                                      <option value="{{city.id}}">{{city.name}}</option>-->
<!--                                      {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-6 form-group">-->
<!--                                    <label for="state">Select State:</label>-->
<!--                                    <select id="state" name="state" style="height:50px" class="form-control p-2">-->
<!--                                      {% for s in statedetail %}-->
<!--                                      <option value="{{s.id}}">{{s.name}}</option>-->
<!--                                      {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->
                                <div class="col-6 form-group">
    <label for="area">Select Area:</label>
    <select id="area" name="area" style="height:50px" class="form-control p-2">
        {% for a in areadetail %}
        <option value="{{a.id}}" data-city="{{a.city_id}}" data-state="{{a.state_id}}">{{a.name}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-6 form-group">
    <label for="city">Select City:</label>
    <select id="city" name="city" style="height:50px" class="form-control p-2">
        {% for city in citydetail %}
        <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
    </select>
</div>
<div class="col-6 form-group">
    <label for="state">Select State:</label>
    <select id="state" name="state" style="height:50px" class="form-control p-2">
        {% for s in statedetail %}
        <option value="{{s.id}}">{{s.name}}</option>
        {% endfor %}
    </select>
</div>

                                <div class="col-6 form-group">
                                    <label for="vp">Vehicle Picture:</label>
                                    <input id="vp" name="vp" type="file" class="form-control p-2" style="height:50px" accept="image/*" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <label for="rc">RC Book:</label>
                                    <input id="rc" name="rc" type="file" class="form-control p-2" style="height:50px" accept="image/*,application/pdf" required="required">
                                </div>


                            </div>

                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact End -->
<script>
    // Add event listener to the area select element
    document.getElementById('area').addEventListener('change', function() {
        // Get the selected area element
        var selectedArea = this.options[this.selectedIndex];

        // Get the city and state IDs from the selected area's data attributes
        var cityId = selectedArea.getAttribute('data-city');
        var stateId = selectedArea.getAttribute('data-state');

        // Set the value of the city dropdown
        document.getElementById('city').value = cityId;

        // Find the state select element
        var stateSelect = document.getElementById('state');

        // Loop through state options and select the corresponding state
        for (var i = 0; i < stateSelect.options.length; i++) {
            if (stateSelect.options[i].value === stateId) {
                stateSelect.selectedIndex = i;
                break;
            }
        }
    });
</script>

{% endblock %}